/********************header********************/
header{
	width: 100%;
	background: #EAEAEA;
	padding: 2.08rem 0;
	border-bottom: solid 1px #D9D9D9;
}
.logoPic{
	margin: 0 auto;
	width: 5.14rem;
	height: 1.22rem;
}
.headerBox{
	font:0.48rem "宋体";
	width: 5.4rem;
	margin: 0.3rem auto 0;
	color: #333;
}
/********************header********************/

/********************main********************/
.main{
	color: #969696;
	padding: 0 0.4rem;
}
.phone-box{
	font-size: 0.64rem;
	height: 1.96rem;
	line-height: 1.96rem;
	border-bottom: solid 1px #D9D9D9;
	
}
label{
	/*margin-right: 1.04rem;*/
}
button{
	border: 0;
	outline: none;
}
.phone-box ::-webkit-input-placeholder {
	color: #333;
}
.phone-box input{
	width: 7.86rem;
	padding-left: 0.8rem;
	font-size: 0.64rem;
	height: 1.96rem;
	line-height: 1.96rem;
	border: 0;
	outline: none;
	vertical-align: top;/*解决字体下沉*/
}
.phone-box button.get-yzm{
	float: right;
	color: #07ca61;
	width: 3.32rem;
	height: 1.96rem;
	line-height: 1.96rem;
	background: none;
	font-size: 0.64rem;
}
.yzm-box{
	font-size: 0.64rem;
	height: 1.96rem;
	line-height: 1.96rem;
	border-bottom: solid 1px #D9D9D9;
}

.yzm-box input{
	/*width: ;*/
	border: 0;
	outline: none;
	font-size: 0.64rem;
	height: 1.96rem;
	line-height: 1.96rem;
	vertical-align: top;/*解决字体下沉*/
	padding-left: 0.8rem;

}	
.agree-box{
	font-size: 0.56rem;
	padding: 0.4rem 0;
	font-family: "宋体";
}
.agree-box a{
	color: #00C963;
}
.agree-ico{
	display: inline-block;
	width: 0.48rem;
	height: 0.48rem;
	background: url(../img/agree-ico.png) no-repeat;
	background-size: 0.48rem 0.48rem;
}
.login-box{
	margin-top: 1.2rem;
	height: 1.92rem;
	background: #00C963;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	font: 0.64rem/1.92rem "宋体";
}

/********************main********************/
